.vs/
Binaries/
..Binaries/   
Intermediate/
bin/
bin-int/
ThirdParty/SDL/lib/linux-x64/

imgui.ini
imgui*.ini

*.user
*.vcxproj
*.filters
*.sln
*.log

Makefile
Engine/Source/Editor/Makefile
Engine/Source/Runtime/Makefile
Projects/SampleGame/Makefile
ThirdParty/Glad/Makefile
ThirdParty/ImGui/Makefile
ThirdParty/ImGuizmo/Makefile
ThirdParty/PhysX/Makefile

!/vendor/bin/