.vs/
Binaries/
Intermediate/
bin/
bin-int/

FireboxEditor/Resources/Models/SM_Fireaxe.obj
FireboxEngine/EngineAssets/Textures/T_Fireaxe_BC.tga
FireboxEngine/EngineAssets/Textures/T_Fireaxe_N.tga

*.user
*.vcxproj
*.filters
*.sln

!/vendor/bin/